/* Fake XUL elements */
box { display: flex !important; }
hbox { display: flex !important; flex-direction: row !important; }
vbox { display: flex !important; flex-direction: column !important; }

[orient="horizontal"] { flex-direction: row !important; }
[orient="vertical"] { flex-direction: column !important; }

[align="start"] { align-items: flex-start !important; }
[align="center"] { align-items: center !important; }
[align="end"] { align-items: flex-end !important; }
[align="baseline"] { align-items: baseline !important; }
[align="stretch"] { align-items: stretch !important; }

[pack="start"] { justify-content: flex-start !important; }
[pack="center"] { justify-content: center !important; }
[pack="end"] { justify-content: flex-end !important; }

[flex="0"] { flex: none !important; }
[flex="1"] { flex: 1 !important; }
[flex="2"] { flex: 2 !important; }
[flex="3"] { flex: 3 !important; }
[flex="4"] { flex: 4 !important; }
[flex="5"] { flex: 5 !important; }
[flex="6"] { flex: 6 !important; }
[flex="7"] { flex: 7 !important; }
[flex="8"] { flex: 8 !important; }
[flex="9"] { flex: 9 !important; }
[flex="100"] { flex: 100 !important; }
[flex="400"] { flex: 400 !important; }
[flex="1000"] { flex: 1000 !important; }
[flex="10000"] { flex: 10000 !important; }

/* Decks are used to separate pages */
deck > :not([selected]) {
    display: none !important;
}

/* Actual styles */
html, body {
    min-height: 100vh;
}

html {
    image-rendering: crisp-edges;
    background: #421244 url("/assets/img/stars.gif");
    color: #fff;
    font-family: "Verdana", "Tahoma", "Arial", sans-serif;
    font-size: 11px;
    overflow-y: scroll;
}

body {
    margin: 0;
    image-rendering: auto !important;
}

a {
    text-decoration: none;
    color: #b490df;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
    margin-block: 8px;
}

vbox img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

pre {
    margin: 4px 0;
    font-family: "Courier New", Courier, monospace !important;
    font-size: 10pt !important;
    min-height: 5em;
    word-wrap: anywhere;
    white-space: pre-line;
}

input:is([type="text"], [type="number"]), pre, textarea {
    appearance: none;
    background-color: #8a6ead;
    border: 1px solid #421244;
    color: #fff;
    font: inherit;
    padding: 2px;
}

input:is([type="text"], [type="number"]):focus, textarea:focus {
    outline: 0;
}

input:is([type="text"], [type="number"]):read-only, textarea:read-only {
    opacity: .75;
}

hbox > span + input {
    margin-inline-start: 4px;
    width: 300px;
}

#image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .65);
}

#image-viewer:not(.active) {
    display: none !important;
}

#image-viewer-image {
    object-fit: contain;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
}

#image-viewer-link {
    margin-top: 4px;
}

.viewable {
    cursor: zoom-in;
}

#root {
    max-width: 1000px;
    margin-inline: auto;
}

:root.narrow #root {
    margin-inline: 8px;
}

#header {
    margin-block: 12px;
}

#content {
    margin-bottom: 8px;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff !important;
    user-select: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-inline-end: 12px;
}

#logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 1;
    margin-inline-end: 16px;
    text-transform: none;
}

.card {
    background: #5f3679;
    box-sizing: border-box;
    padding: 12px;
}

.header {
    font-size: 22px;
    font-weight: 700;
}

.header-small {
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.header-small.no-margin {
    margin-top: 0;
}

#two-col-container {
    align-items: stretch;
}

#left-col {
    margin-inline-end: 12px;
    width: calc(25% - 6px);
}

#right-col {
    flex: 1;
    width: calc(75% - 6px);
}

.right-col img {
    margin-top: 6px;
}

.right-col p {
    margin-bottom: 0;
}