{%- apply spaceless -%}
<!DOCTYPE html>
<html lang="en">  
    <head>
        <meta charset="UTF-8"/>
        <title>{{ title ? title ~ " - " }}aubymori's website</title>
        <link rel="stylesheet" href="/assets/css/core.css">
        {% block css %}{% endblock %}
    </head>
    <body>
        {# Block for JS that should run before the page
           loads (e.g. redirection) #}
        {% block early_js %}{% endblock %}
        <div id="root">
            <div id="header">
                <a href="/" id="logo">aubymori</a>
            </div>
            <div id="nav">
                <a href="/">Home</a>
                <a href="/files">Files</a>
                <a href="/desktops">Desktops</a>
                <a href="/tools">Tools</a>
                <a href="/guides">Guides</a>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            {# On two col pages, we display copyright below the right col #}
            {%- if not two_col_page -%}
            <span id="copyright">Copyright &copy; {{ "now"|date("Y") }} aubymori</span>
            {%- endif -%}
        </div>
        {% block js %}{% endblock %}
    </body>
</html>
{%- endapply -%}