{% extends "two_col_page.html" %}

{% block css %}
<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block early_js %}
<script>
    // Redirect legacy soft-nav URLs
    if (location.hash.substring(0, 3) == "#!/")
    {
        location.href = location.hash.substring(2).replaceAll("-", "_");
    }
</script>
{% endblock %}

{% macro social(url, icon, username) %}
<a class="social" href="{{ url }}" target="_blank">
    <span class="social-icon {{ icon }}"></span>
    {{ username }}
</a>
{% endmacro %}

{% block col_one_content %}
<img id="home-profile-pic" src="https://avatars.githubusercontent.com/u/44238627?v=4" alt="aubymori">
<div id="home-header">
    <h2>aubymori</h2>
    <img src="/assets/img/trans.png" alt="transgender flag">
    <img src="/assets/img/lesb.png" alt="lesbian flag">
</div>
<p>
    Autistic nerd who likes how software looked in the late 1990s and 2000s.
</p>
<span class="header-small no-margin">Socials</span>
{{ _self.social("https://github.com/aubymori",       "github",     "@aubymori") }}
{{ _self.social("https://www.youtube.com/@aubymori", "youtube",    "@aubymori") }}
{{ _self.social("https://twitter.com/aubymori",      "twitter",    "@aubymori") }}
{{ _self.social(
    "https://bsky.app/profile/audymori.bsky.social", "bsky",       "@audymori.bsky.social") }}
{{ _self.social("https://winclassic.net/user/2712",  "winclassic", "aubymori") }}
<div class="social">
    <span class="social-icon discord"></span>
    <span title="(ID: 830652734364844052)">@ooburiimori</span>
</div>
{% endblock %}

{% macro project_entry(name, url, desc) %}
<li>
    <a href="{{ url }}" target="_blank">{{ name }}</a>{% if desc %}: {{ desc }}{% endif %}
</li>
{% endmacro %}

{% block col_two_content %}
<h1>Welcome!</h1>
<p>
    My name is Aubrey and I'm a 17 year old trans girl interested in computers and programming.
    I mostly work to restore old/legacy user interfaces for Windows, Windows programs, and
    websites.
</p>
<p>
    Here are some projects I have worked on, either now or in the past:
</p>
<ul>
    {{ _self.project_entry(
        "Rehike", "https://github.com/Rehike/Rehike",
        "A custom YouTube server that aims to faithfully restore the old frontend and layout."
    ) }}
    {{ _self.project_entry(
        "OpenWithEx", "https://github.com/aubymori/OpenWithEx",
        "An application that replaces the native Open With dialog with one styled after old Windows versions."
    ) }}
    {{ _self.project_entry(
        "TaskManagerEx", "https://github.com/aubymori/TaskManagerEx",
        "A fork of Windows XP's Task Manager which works better on modern Windows and has more features."
    ) }}
    {{ _self.project_entry(
        "MSPA To Go", "https://mspa.chadthundercock.com/",
        "A mirror of MS Paint Adventures that includes both a mobile and desktop layout."
    ) }}
    {{ _self.project_entry(
        "ClassicShutdown", "https://github.com/aubymori/ClassicShutdown",
        "A recreation of various shutdown/log off dialogs from older Windows versions."
    ) }}
    {{ _self.project_entry(
        "Windows NT Modding Utility", "https://get-ntmu.github.io/",
        "An application that allows users to automate the modification/replacement of system files and the importing of registry entries."
    ) }}
    {{ self.project_entry(
        "ExplorerEx", "https://github.com/kfh83/ExplorerEx",
        "A port of Windows XP's Explorer shell (Start menu and taskbar) to modern Windows with some minor improvements."
    ) }}
    <li>
        Rewitter: A classic Twitter frontend that works similarly to Rehike. It is heavily unfinished
        and not publicly available right now, but if you want to see previews, check out the
        <a href="https://twitter.com/leym0naide" target="_blank">main developer's Twitter page</a>.
    </li>
    {{ _self.project_entry(
        "Lots of mods for Windhawk (50+)", "https://github.com/ramensoftware/windhawk-mods/pulls?q=is%3Apr+author%3Aaubymori+"
    ) }}
</ul>
{% endblock %}